body {
	background-color: black;
	color: white;
	font: 0.8em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	text-align: center;
}

img {
	margin: none;
}

div {
	margin: none;
}

.container {
	position: relative;
	
}

#comic {
	width: 550px;
	height: 550px;
	border: 1px solid #666;
	background-color: #111;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	
	overflow: hidden;
	position: relative;
		
	background-position: right bottom;	
}

#top_panels {
	
}

#left_panel {
	position: absolute;
	left: 0px;
	top: 275px;
}

#right_panel {
	position: absolute;
	right: 0px;
	top: 275px;
}

#answer_yes {
	color: black;
	position: absolute;
	right: 70px;
	top: 130px;
	z-index: 1000000;
	
	width: 87px;
	height: 39px;
	background-image: url(images/yes_answer.png);
	
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	
	cursor: pointer;
	
}

#answer_yes:hover {
	background-image: url(images/yes_answer_highlight.png);
}

#answer_no {
	color: black;
	position: absolute;
	right: 50px;
	top: 165px;
	z-index: 1000000;
	
	width: 87px;
	height: 42px;
	background-image: url(images/no_answer.png);
	
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	
	cursor: pointer;
	
	
}

#answer_no:hover {
	background-image: url(images/no_answer_highlight.png);
}

#footer {
	text-align: center;
	font-size: 0.7em;
	color: #666;
}
